@font-face {
  font-family: "iconfont"; /* Project id 4363547 */
  src: url('iconfont.woff2?t=1702540919022') format('woff2'),
       url('iconfont.woff?t=1702540919022') format('woff'),
       url('iconfont.ttf?t=1702540919022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "\e683";
}

.icon-pinglun:before {
  content: "\e687";
}

.icon-shezhi:before {
  content: "\e600";
}

.icon-tuichu:before {
  content: "\e623";
}

.icon-database:before {
  content: "\e61c";
}

.icon-kaifa:before {
  content: "\e618";
}

.icon-weihu1:before {
  content: "\e66a";
}

.icon-luntan:before {
  content: "\e6eb";
}

.icon-fuwuqi:before {
  content: "\e609";
}

.icon-cuowu:before {
  content: "\e605";
}

.icon-weibo:before {
  content: "\e7e4";
}

.icon-shoucang:before {
  content: "\e619";
}

.icon-tishi2:before {
  content: "\e691";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-icon_weizhi_mian:before {
  content: "\e61a";
}

.icon-question-circle-fill:before {
  content: "\e7dd";
}

.icon-arrow_right:before {
  content: "\e626";
}

.icon-close:before {
  content: "\e69e";
}

.icon-userCenter:before {
  content: "\e602";
}

.icon-queren:before {
  content: "\e604";
}

.icon-liaotian:before {
  content: "\e60c";
}

.icon-tengxunyun:before {
  content: "\ee49";
}

