@font-face {
  font-family: "iconfont"; /* Project id 4344919 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1702540914395') format('woff2'),
       url('iconfont.woff?t=1702540914395') format('woff'),
       url('iconfont.ttf?t=1702540914395') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aliyun1:before {
  content: "\ee48";
}

.icon-aliyun:before {
  content: "\e600";
}

.icon-topic:before {
  content: "\e621";
}

.icon-weihu2:before {
  content: "\e7a2";
}

.icon-jiaoliu:before {
  content: "\e77e";
}

.icon-tencent-cloud-kcsp:before {
  content: "\e639";
}

.icon-bangzhu:before {
  content: "\e606";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-chrome:before {
  content: "\ea09";
}

.icon-Mysql:before {
  content: "\e788";
}

.icon-Nodejs:before {
  content: "\e79c";
}

.icon-npm:before {
  content: "\e685";
}

.icon-HTML1:before {
  content: "\e706";
}

.icon-php1:before {
  content: "\e787";
}

.icon-webpack1:before {
  content: "\e79b";
}

.icon-React:before {
  content: "\e79d";
}

.icon-java1:before {
  content: "\e6d7";
}

.icon-Vue:before {
  content: "\e799";
}

.icon-jQuery:before {
  content: "\e79a";
}

.icon-css1:before {
  content: "\e61e";
}

.icon-MySQL-icon-02:before {
  content: "\e638";
}

